/***个人信息页的二级页的可复用的css***/
/**Header头部样式**/
/*flex子页排列：横向居中+竖向排列*/
.el-container-main {
    justify-content: center;
    flex-direction: column;
}
.el-containers {
    height: 900px;
}
/*页面头部标题样式 */
.el-header {
    line-height: 10px;
    height: 50px !important;
    padding: 0;
    border-bottom: 1px solid #dbdee2;
}

/*个人信息页 - 左上角标题*/
.el-col-h1 {
    font-size: 18px;
}

/*页脚反馈页 - 左上角标题*/
.el-col-h2 {
    font-size: 28px;
}

/* 个人信息页 - 绿色按钮的颜色和文字 */
.el-greenbtn-color {
    background-color: #44730b;
    font-size: 14px;
    color: #fff;
}